<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<display-name>DWR Servlet</display-name>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>IssueTypeInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuetype.IssueTypeInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueTypeInsertServlet</servlet-name>
		<url-pattern>/IssueTypeInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueTypeListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuetype.IssueTypeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueTypeListServlet</servlet-name>
		<url-pattern>/IssueTypeListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueTypeDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuetype.IssueTypeDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueTypeDeleteServlet</servlet-name>
		<url-pattern>/IssueTypeDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueTypeEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuetype.IssueTypeEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueTypeEditServlet</servlet-name>
		<url-pattern>/IssueTypeEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueTypeUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuetype.IssueTypeUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueTypeUpdateServlet</servlet-name>
		<url-pattern>/IssueTypeUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CountryInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.country.CountryInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountryInsertServlet</servlet-name>
		<url-pattern>/CountryInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CountryUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.country.CountryUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountryUpdateServlet</servlet-name>
		<url-pattern>/CountryUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CountryDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.country.CountryDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountryDeleteServlet</servlet-name>
		<url-pattern>/CountryDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CountryEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.country.CountryEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountryEditServlet</servlet-name>
		<url-pattern>/CountryEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CountryListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.country.CountryListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountryListServlet</servlet-name>
		<url-pattern>/CountryListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTStatusInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtstatus.PMTStatusInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTStatusInsertServlet</servlet-name>
		<url-pattern>/PMTStatusInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTStatusDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtstatus.PMTStatusDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTStatusDeleteServlet</servlet-name>
		<url-pattern>/PMTStatusDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTStatusUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtstatus.PMTStatusUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTStatusUpdateServlet</servlet-name>
		<url-pattern>/PMTStatusUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTStatusEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtstatus.PMTStatusEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTStatusEditServlet</servlet-name>
		<url-pattern>/PMTStatusEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTStatusListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtstatus.PMTStatusListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTStatusListServlet</servlet-name>
		<url-pattern>/PMTStatusListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueStatusInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuestatus.IssueStatusInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueStatusInsertServlet</servlet-name>
		<url-pattern>/IssueStatusInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueStatusUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuestatus.IssueStatusUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueStatusUpdateServlet</servlet-name>
		<url-pattern>/IssueStatusUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueStatusDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuestatus.IssueStatusDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueStatusDeleteServlet</servlet-name>
		<url-pattern>/IssueStatusDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueStatusEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuestatus.IssueStatusEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueStatusEditServlet</servlet-name>
		<url-pattern>/IssueStatusEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueStatusListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuestatus.IssueStatusListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueStatusListServlet</servlet-name>
		<url-pattern>/IssueStatusListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OSInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.os.OSInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OSInsertServlet</servlet-name>
		<url-pattern>/OSInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OSListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.os.OSListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OSListServlet</servlet-name>
		<url-pattern>/OSListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OSDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.os.OSDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OSDeleteServlet</servlet-name>
		<url-pattern>/OSDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OSUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.os.OSUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OSUpdateServlet</servlet-name>
		<url-pattern>/OSUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OSEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.os.OSEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OSEditServlet</servlet-name>
		<url-pattern>/OSEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StateInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.state.StateInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StateInsertServlet</servlet-name>
		<url-pattern>/StateInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StateListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.state.StateListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StateListServlet</servlet-name>
		<url-pattern>/StateListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StateDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.state.StateDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StateDeleteServlet</servlet-name>
		<url-pattern>/StateDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StateUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.state.StateUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StateUpdateServlet</servlet-name>
		<url-pattern>/StateUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StateEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.state.StateEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StateEditServlet</servlet-name>
		<url-pattern>/StateEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssuePriorityDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuepriority.IssuePriorityDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssuePriorityDeleteServlet</servlet-name>
		<url-pattern>/IssuePriorityDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssuePriorityEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuepriority.IssuePriorityEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssuePriorityEditServlet</servlet-name>
		<url-pattern>/IssuePriorityEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssuePriorityInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuepriority.IssuePriorityInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssuePriorityInsertServlet</servlet-name>
		<url-pattern>/IssuePriorityInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssuePriorityListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuepriority.IssuePriorityListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssuePriorityListServlet</servlet-name>
		<url-pattern>/IssuePriorityListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssuePriorityUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuepriority.IssuePriorityUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssuePriorityUpdateServlet</servlet-name>
		<url-pattern>/IssuePriorityUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTPriorityDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtpriority.PMTPriorityDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTPriorityDeleteServlet</servlet-name>
		<url-pattern>/PMTPriorityDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTPriorityEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtpriority.PMTPriorityEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTPriorityEditServlet</servlet-name>
		<url-pattern>/PMTPriorityEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTPriorityInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtpriority.PMTPriorityInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTPriorityInsertServlet</servlet-name>
		<url-pattern>/PMTPriorityInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTPriorityListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtpriority.PMTPriorityListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTPriorityListServlet</servlet-name>
		<url-pattern>/PMTPriorityListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PMTPriorityUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.pmtpriority.PMTPriorityUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PMTPriorityUpdateServlet</servlet-name>
		<url-pattern>/PMTPriorityUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectTechnologyDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projecttechnology.ProjectTechnologyDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectTechnologyDeleteServlet</servlet-name>
		<url-pattern>/ProjectTechnologyDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectTechnologyEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projecttechnology.ProjectTechnologyEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectTechnologyEditServlet</servlet-name>
		<url-pattern>/ProjectTechnologyEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectTechnologyInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projecttechnology.ProjectTechnologyInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectTechnologyInsertServlet</servlet-name>
		<url-pattern>/ProjectTechnologyInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectTechnologyListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projecttechnology.ProjectTechnologyListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectTechnologyListServlet</servlet-name>
		<url-pattern>/ProjectTechnologyListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectTechnologyUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projecttechnology.ProjectTechnologyUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectTechnologyUpdateServlet</servlet-name>
		<url-pattern>/ProjectTechnologyUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SecurityQuestionDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.securityquestion.SecurityQuestionDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityQuestionDeleteServlet</servlet-name>
		<url-pattern>/SecurityQuestionDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SecurityQuestionEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.securityquestion.SecurityQuestionEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityQuestionEditServlet</servlet-name>
		<url-pattern>/SecurityQuestionEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SecurityQuestionInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.securityquestion.SecurityQuestionInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityQuestionInsertServlet</servlet-name>
		<url-pattern>/SecurityQuestionInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SecurityQuestionListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.securityquestion.SecurityQuestionListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityQuestionListServlet</servlet-name>
		<url-pattern>/SecurityQuestionListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SecurityQuestionUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.securityquestion.SecurityQuestionUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityQuestionUpdateServlet</servlet-name>
		<url-pattern>/SecurityQuestionUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRoleDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userrole.UserRoleDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRoleDeleteServlet</servlet-name>
		<url-pattern>/UserRoleDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRoleEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userrole.UserRoleEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRoleEditServlet</servlet-name>
		<url-pattern>/UserRoleEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRoleInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userrole.UserRoleInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRoleInsertServlet</servlet-name>
		<url-pattern>/UserRoleInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRoleListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userrole.UserRoleListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRoleListServlet</servlet-name>
		<url-pattern>/UserRoleListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRoleUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userrole.UserRoleUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRoleUpdateServlet</servlet-name>
		<url-pattern>/UserRoleUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CityInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.city.CityInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityInsertServlet</servlet-name>
		<url-pattern>/CityInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CityDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.city.CityDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityDeleteServlet</servlet-name>
		<url-pattern>/CityDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CityEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.city.CityEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityEditServlet</servlet-name>
		<url-pattern>/CityEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CityListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.city.CityListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityListServlet</servlet-name>
		<url-pattern>/CityListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CityUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.city.CityUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityUpdateServlet</servlet-name>
		<url-pattern>/CityUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectMasterInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectmaster.ProjectMasterInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectMasterInsertServlet</servlet-name>
		<url-pattern>/ProjectMasterInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectMasterViewServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectmaster.ProjectMasterViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectMasterViewServlet</servlet-name>
		<url-pattern>/ProjectMasterViewServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectMasterDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectmaster.ProjectMasterDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectMasterDeleteServlet</servlet-name>
		<url-pattern>/ProjectMasterDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectMasterListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectmaster.ProjectMasterListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectMasterListServlet</servlet-name>
		<url-pattern>/ProjectMasterListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectMasterEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectmaster.ProjectMasterEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectMasterEditServlet</servlet-name>
		<url-pattern>/ProjectMasterEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectMasterUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectmaster.ProjectMasterUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectMasterUpdateServlet</servlet-name>
		<url-pattern>/ProjectMasterUpdateServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModuleInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.module.ModuleInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuleInsertServlet</servlet-name>
		<url-pattern>/ModuleInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModuleViewServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.module.ModuleViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuleViewServlet</servlet-name>
		<url-pattern>/ModuleViewServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModuleListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.module.ModuleListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuleListServlet</servlet-name>
		<url-pattern>/ModuleListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModuleDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.module.ModuleDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuleDeleteServlet</servlet-name>
		<url-pattern>/ModuleDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModuleEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.module.ModuleEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuleEditServlet</servlet-name>
		<url-pattern>/ModuleEditServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModuleUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.module.ModuleUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuleUpdateServlet</servlet-name>
		<url-pattern>/ModuleUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TaskInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.task.TaskInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskInsertServlet</servlet-name>
		<url-pattern>/TaskInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TaskViewServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.task.TaskViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskViewServlet</servlet-name>
		<url-pattern>/TaskViewServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TaskListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.task.TaskListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskListServlet</servlet-name>
		<url-pattern>/TaskListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TaskDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.task.TaskDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskDeleteServlet</servlet-name>
		<url-pattern>/TaskDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TaskUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.task.TaskUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskUpdateServlet</servlet-name>
		<url-pattern>/TaskUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TaskEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.task.TaskEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskEditServlet</servlet-name>
		<url-pattern>/TaskEditServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserRegistrationViewServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userregistration.UserRegistrationViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationViewServlet</servlet-name>
		<url-pattern>/UserRegistrationViewServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegistrationInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userregistration.UserRegistrationInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationInsertServlet</servlet-name>
		<url-pattern>/UserRegistrationInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegistrationUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userregistration.UserRegistrationUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationUpdateServlet</servlet-name>
		<url-pattern>/UserRegistrationUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegistrationDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userregistration.UserRegistrationDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationDeleteServlet</servlet-name>
		<url-pattern>/UserRegistrationDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegistrationListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userregistration.UserRegistrationListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationListServlet</servlet-name>
		<url-pattern>/UserRegistrationListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegistrationEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userregistration.UserRegistrationEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationEditServlet</servlet-name>
		<url-pattern>/UserRegistrationEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CountryPreLoadedServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.userregistration.CountryPreLoadedServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountryPreLoadedServlet</servlet-name>
		<url-pattern>/CountryPreLoadedServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeedbackEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.feedback.FeedbackEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedbackEditServlet</servlet-name>
		<url-pattern>/FeedbackEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeedbackInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.feedback.FeedbackInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedbackInsertServlet</servlet-name>
		<url-pattern>/FeedbackInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeedbackUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.feedback.FeedbackUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedbackUpdateServlet</servlet-name>
		<url-pattern>/FeedbackUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeedbackDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.feedback.FeedbackDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedbackDeleteServlet</servlet-name>
		<url-pattern>/FeedbackDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeedbackListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.feedback.FeedbackListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedbackListServlet</servlet-name>
		<url-pattern>/FeedbackListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectUserListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectuser.ProjectUserListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectUserListServlet</servlet-name>
		<url-pattern>/ProjectUserListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectUserDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectuser.ProjectUserDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectUserDeleteServlet</servlet-name>
		<url-pattern>/ProjectUserDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectUserEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectuser.ProjectUserEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectUserEditServlet</servlet-name>
		<url-pattern>/ProjectUserEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectUserInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectuser.ProjectUserInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectUserInsertServlet</servlet-name>
		<url-pattern>/ProjectUserInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectUserUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectuser.ProjectUserUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectUserUpdateServlet</servlet-name>
		<url-pattern>/ProjectUserUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueAssignInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueassign.IssueAssignInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueAssignInsertServlet</servlet-name>
		<url-pattern>/IssueAssignInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueAssignListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueassign.IssueAssignListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueAssignListServlet</servlet-name>
		<url-pattern>/IssueAssignListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueAssignDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueassign.IssueAssignDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueAssignDeleteServlet</servlet-name>
		<url-pattern>/IssueAssignDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueAssignUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueassign.IssueAssignUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueAssignUpdateServlet</servlet-name>
		<url-pattern>/IssueAssignUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueAssignEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueassign.IssueAssignEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueAssignEditServlet</servlet-name>
		<url-pattern>/IssueAssignEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueResolutionInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueresolution.IssueResolutionInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueResolutionInsertServlet</servlet-name>
		<url-pattern>/IssueResolutionInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueResolutionListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueresolution.IssueResolutionListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueResolutionListServlet</servlet-name>
		<url-pattern>/IssueResolutionListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueResolutionDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueresolution.IssueResolutionDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueResolutionDeleteServlet</servlet-name>
		<url-pattern>/IssueResolutionDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueResolutionUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueresolution.IssueResolutionUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueResolutionUpdateServlet</servlet-name>
		<url-pattern>/IssueResolutionUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueResolutionEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issueresolution.IssueResolutionEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueResolutionEditServlet</servlet-name>
		<url-pattern>/IssueResolutionEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserTypeEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.usertype.UserTypeEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserTypeEditServlet</servlet-name>
		<url-pattern>/UserTypeEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserTypeInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.usertype.UserTypeInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserTypeInsertServlet</servlet-name>
		<url-pattern>/UserTypeInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserTypeListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.usertype.UserTypeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserTypeListServlet</servlet-name>
		<url-pattern>/UserTypeListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserTypeDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.usertype.UserTypeDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserTypeDeleteServlet</servlet-name>
		<url-pattern>/UserTypeDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserTypeUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.usertype.UserTypeUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserTypeUpdateServlet</servlet-name>
		<url-pattern>/UserTypeUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.login.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectUserSearchServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.projectuser.ProjectUserSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectUserSearchServlet</servlet-name>
		<url-pattern>/ProjectUserSearchServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet1</servlet-name>
		<servlet-class>dsynhub.its.controller.login.LoginServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet1</servlet-name>
		<url-pattern>/LoginServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueDetailInsertServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuedetail.IssueDetailInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueDetailInsertServlet</servlet-name>
		<url-pattern>/IssueDetailInsertServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueDetailListServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuedetail.IssueDetailListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueDetailListServlet</servlet-name>
		<url-pattern>/IssueDetailListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueDetailDeleteServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuedetail.IssueDetailDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueDetailDeleteServlet</servlet-name>
		<url-pattern>/IssueDetailDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueDetailUpdateServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuedetail.IssueDetailUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueDetailUpdateServlet</servlet-name>
		<url-pattern>/IssueDetailUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueDetailEditServlet</servlet-name>
		<servlet-class>dsynhub.its.controller.issuedetail.IssueDetailEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueDetailEditServlet</servlet-name>
		<url-pattern>/IssueDetailEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IssueDetailController</servlet-name>
		<servlet-class>dsynhub.its.controller.issuedetail.IssueDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IssueDetailController</servlet-name>
		<url-pattern>/IssueDetailController</url-pattern>
	</servlet-mapping>
</web-app>